# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Docker & Databases
.docker/
postgres_data/
minio_data/

# Feast
.feast/

# CartCo Data Landing & Storage Zones (Ignore processed/raw data dumps)
data/shopify_drops/*
!data/shopify_drops/.gitkeep
data/distributor_drops/*
!data/distributor_drops/.gitkeep
data/pos_drops/*
!data/pos_drops/.gitkeep
data/feature_store/*
!data/feature_store/.gitkeep
data/landing/*
!data/landing/.gitkeep

# Ignore specific system-level hidden files
.DS_Store
Thumbs.db
